* {
	padding: 0;
	margin: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #eee;
}

.style {
	display: flex;
	align-items: center;
	background-color: lightpink;
	border: 1px solid violet;
	border-radius: 5px;
	padding: 2em;
}

input {
	margin-right: 0.5em;
}
